<style>
@import url('https://fonts.googleapis.com/css2? family= Fredoka:wght@300;500;700 & display=swap');
</style>
:root{}
*{
margin: 0;
box-sizing: border-box;
font-family: 'Freedoka';
}
h1, h2, h3, h4, h5, h6{
margin: 0;
}
html, body{
background-color: #c8a2c8;
}
header{
background-color: blue;
color: aqua;
height: 80px;
display: flex;
align-items: center;
}
nav{
display: flex;
align-items: center;
justify-content: space-between;
}
nav h1{
font-size: 40px;
font-weight: 700;
}
nav a{
font-size: 18px;
font-weight: 400;
}
a, a:hover{
text-decoration: none;
color: unset;
}
.jessica-contact-container{
display: flex;
align-items: center;
}
.jessica-contact-container img{
margin-right: 20px;
width: 15%;
height: 15%;
}
#jessica-card-list{
padding: 0 10px;
}
.jessica-card{
width: 100%;
height: 600px;
}
.jessica-card img{
width: 100%;
border-radius: 0 0 8px 8px;
}
.jessica-card-description{
background-color: #fff;
padding: 10px 0 20px 0;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 0 0 8px 8px;
min-height: 180px;
}
.jessica-card-description h3{
font-size: 20px;
font-weight: 700;
margin-bottom: 14px;
}
.jessica-card-description-botton{
display: flex;
flex-direction: column;
align-items: center;
}
.jessica-card-description-botton P{
font-size: 15px;
font-weight: 400;
color: black;
margin-bottom: 10px;
}
.jessica-btn, .jessica-btn:hover{
height: 40px;
width: 180px;
background-color: blue;
color: #fff;
font-size: 14px;
font-weight: 700;
display: flex;
align-items: center;
justify-content: center;
border-radius: 4px;
border: 0;
}
